*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #D3E9F9,#fff);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
}

nav{
    width: 100%;
    text-align: end;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}


a{
    text-decoration: none;
}

.btn{
    align-items: center;
    color: white;
    border: none;
    background-color: #122F5F;
    margin: 15px;
    padding: 14px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 20px -6px #133468;
    transition: all 0.3s;
}

header img{
    height: 80px;
}


nav ul li a:hover{
    color: #000000;
}


.contenido{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagen img{
    height: 510px;
}


.vacuna{
    margin-top: 10px;
    margin-bottom: 0px;
    background: linear-gradient(90deg, #D8EBFA, #D3E9F9);
    height: 30px;
    width: 300px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    border-radius: 40px;
    color: blueviolet;

}

.vacuna img{
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.texto-imagen{
    width: 100%;
}

.titulo{
    width: 60%;
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 1000;
    margin: 0;
    color: #122F5F;
}

.texto-imagen p{
    color: blueviolet;
}


.btn:hover{
    background-color: #205cbd;
    transform: translateY(-2px);
}

.btn:active{
    transform: translateY(-1px)
}

.mtop{
    margin-top: 30px;
}