*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #D3E9F9,#fff);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
}


nav{
    width: 100%;
    text-align: end;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}


a{
    text-decoration: none;
}

.btn{
    align-items: center;
    color: white;
    border: none;
    background-color: #122F5F;
    margin: 15px;
    padding: 14px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 20px -6px #133468;
    transition: all 0.3s;
}

header img{
    height: 80px;
}


nav ul li a:hover{
    color: #000000;
}

.btn:hover{
    background-color: #205cbd;
    transform: translateY(-2px);
}

.btn:active{
    transform: translateY(-1px)
}

.title h1{
    color: #122F5F;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
}

.contact{
    width: 33%;
    margin-right: 15px;
}

.contact i{
    font-size: 3.4em;
    margin-left: 45%;
    color: blue;
}

.contact h4{
    margin-top: 10px;
    color: #122F5F;
    text-align: center;
    text-transform: capitalize;
}

.contact p{
    color: blueviolet;
    text-align: center;
    text-transform: capitalize;
}

.contact a button{
    margin-left: 38%;
}

.bg{
    color: blueviolet;
    margin-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(90deg, #D8EBFA, #D3E9F9);
    border-radius: 15px;
}